.breadcrumb-item+.breadcrumb-item::before {
    display: none !important;
}
.breadcrumb-item svg{
    margin-left: 8px;
}
.table_buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
}
textarea,
textarea.form-control{
    min-height: 150px;
}
.image_value{
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}